@model PatelHiren_Assignment3.Models.Entities.MemberClassCompleted

@{
    var member = Model!.Member;
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" name="memberClassId" value="@Model!.Id" />
        <input type="hidden" name="memberId" value="@Model!.MemberId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Member" asp-route-id="@member!.MemberId">
            Back to Member 
        </a>
    </form>

</div>

@section Scripts {
    <script defer src="~/js/memberClassDelete.js"></script>
}
