@{
    ViewData["Title"] = "Member Class Report";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Member
            </th>
            <th>
                Class
            </th>
            <th>
                Sessions
            </th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

@section Scripts{
    <script defer src="~/js/memberClassIndex.js"></script>
}
