@{
    ViewData["Title"] = "Assignment Acura";
}
<h1>@ViewData["Title"]</h1>

<p>In this assignment simple types, enumeration types, class types, array types, anonymous types, 
    simple LINQ, and nullable types will be demontrated by displaying facts and accurate numbers
    on the luxury Japanese car brand Acura.</p>
