@*
    Used this website to find how to use hyperlinks.
    https://www.w3schools.com/html/html_links.asp
*@

<!DOCTYPE html>
<html>
    <body>

        <p><a href="https://localhost:7045/home/enumtype"></a></p>

    </body>
</html>

